@import "../main";

footer {
  padding: 60px 0;
  background: $footer-color;
  color: $brand-color;

  @media(max-width: $mobile) {
    text-align: center;

    img {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
    
    li {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;

      &:first-child {
        font-weight: 700;
      }
    }
  }
}
