<nav [ngClass]="{open: open}" [hidden]="!open">
  <ul *ngIf="menu">
    <li *ngFor="let item of menu">
      <a *ngIf="item.object != 'custom'" [routerLink]="[item.url]" [routerLinkActive]="['active']" (click)="changeOpen(open)" [ngClass]="item.classes">{{item.title}}</a>
      <a *ngIf="item.object == 'custom'" [href]="[item.url]" [target]="item.target" (click)="changeOpen(open)" [ngClass]="item.classes">{{item.title}}</a>
      <ul *ngIf="item.children">
        <li *ngFor="let child of item.children">
          <a *ngIf="item.object != 'custom'" [routerLink]="[child.url]" [routerLinkActive]="['active']" (click)="changeOpen(open)" [ngClass]="child.classes">{{child.title}}</a>
          <a *ngIf="child.object == 'custom'" [href]="[child.url]" [target]="child.target" (click)="changeOpen(open)" [ngClass]="child.classes">{{child.title}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
