@import "../main";

section {
  margin-top: 100px;
  margin-bottom: 60px;

  .col {
    float: left;
    width: calc(20% - 10px);
    height: 384px;
    margin-right: 10px;
    @extend %clearfix;

    @media (max-width: $tablet) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    @media (max-width: $mobile) {
      height: auto;
      margin-bottom: 0;
      padding: 0 10px;
    }

    .picture {
      width: 100%;
      height: calc(50% - 5px);
      margin-top: 10px;
      background-repeat: none;
      background-size: cover;
      background-position: center center;
      background-color: $brand-color;

      @media (max-width: $tablet) {
        height: 100%;
        width: calc(50% - 5px);
        margin-left: 10px;
        margin-top: 0;
        float: left;

        &:first-child {
          margin-left: 0;
        }
      }

      @media (max-width: $mobile) {
        width: 100%;
        margin-left: 0;
        height: 384px;
        margin-bottom: 10px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      width: 40%;

      .picture {
        height: 100%;
      }

      @media (max-width: $tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;


        .picture {
          width: 100%;
        }
      }

      @media (max-width: $mobile) {
        margin-bottom: 0;

        .picture {
          height: 384px;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

}
