@import "../main";

section {
  padding: 60px 0;
  text-align: center;

  ul {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 30px;
  }

  h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    max-width: 700px;
    margin: 0 auto;
  }

  h3 {
    color: $brand-color;
    font-size: 18px;
    text-align: left;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }

  .box-wrapper {
    width: 100%;
    max-width: 660px;
    margin: 60px auto 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .box {
      height: 400px;
      box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.17);
      position: relative;

      width: 350px;
      max-width: 100%;

      &:nth-child(1) {
        padding: 25px 40px;
      }

      &:nth-child(2) {
        width: 250px;

        @media (max-width: $mobile) {
          margin: 80px auto 0;
        }
      }

      @media (max-width: $mobile) {
        width: 100%;
      }

      form {
        width: 100%;
        text-align: left;

        button {
          @extend %btn;
          position: absolute;
          background: white;
          border: none;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%)!important;
          box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.17)!important;
          padding: 25px 45px;
          outline: none;
          opacity: 0.5;
          cursor: default;
          color: lighten($main-text-color, 60%);
          white-space: nowrap;

          &.valid {
            opacity: 1;
            cursor: pointer;
            color: $main-text-color;

            &:hover {
              transform: translate(-50%, 40%)!important;
              box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
            }
          }
        }


        .form-ele {
          width: 100%;
          position: relative;
          font-size: 16px;
          font-weight: 300;
          color: $main-text-color;
          margin-bottom: 25px;

          &last-child {
            margin-bottom: 0;
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            transition: transform 0.4s;
            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */
            cursor: pointer;

            &.error {
              color: red;
            }
          }

          input:focus + label,
          textarea:focus + label,
          input.ng-touched + label,
          textarea.ng-touched + label  {
            transform: translateY(-50%);
          }

          input, textarea {
            width: 100%;
            background: white;
            border: none;
            outline: none;
          }

          input {
            border-bottom: 1px solid rgba(53, 53, 53, 0.5);
            height: 40px;
          }

          textarea {
            padding-top: 7px;
            height: 152px;
            resize: none;
            margin-bottom: 0;
          }

        }
      }

      .link {
        background: #f5f5f5;
        width: 100%;
        height: 70px;
        line-height: 70px;
        position: absolute;
        bottom: 0;
        left: 0;

        a {
          font-size: 14px;
          color: $main-text-color;
          font-weight: 700;
        }
      }

      .icon {
        position: absolute;
        left: 50%;
        top: 40px;
        transform: translateX(-50%);
      }

      .content {
        margin-top: 140px;
        .title {
          color: $brand-color;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 5px;
        }

        ul {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          padding: 0 40px;
          list-style: none;

          &.left-right {
            li {
              @extend %clearfix;
              text-align: left;

              span {
                float: right;
              }
            }
          }
        }
      }
    }
  }
}
