@import "../main";

section {
  .employee-list {
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .employee {
      width: calc(50% - 30px);
      margin-bottom: 60px;
      color: $main-text-color;

      @media (max-width: $mobile) {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.17);
        margin-bottom: 30px;
      }

      .title {
        font-size: 20px;
        font-weight: bold;
      }

      .text {
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
    }
  }
}
