<section>
  <div class="container">
    <div class="row">
      <div class="box">
        <div class="icon">
          <img src="/assets/images/address-icon.png" alt="">
        </div>
        <div class="content">
          <div class="title">Kuhrefysio</div>
          <ul>
            <li>{{settings.streetname}}</li>
            <li>{{settings.zipcode}} {{settings.city}}</li>
          </ul>
        </div>
        <div class="link">
          <a href="https://www.google.dk/maps/place/{{settings.streetname}},+{{settings.zipcode}}+{{settings.city}}/" target="_blank">Vis på Google Maps</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <img src="/assets/images/clock-icon.png" alt="">
        </div>
        <div class="content">
          <div class="title">Åbningstider</div>
          <ul class="left-right">
            <li *ngFor="let opening of settings.opening_hours">{{opening.days}} <span>{{opening.hours}}</span></li>
          </ul>
        </div>
        <div class="link">
          <a [routerLink]="['/kontakt']">Kontakt os</a>
        </div>
      </div>
    </div>
  </div>
</section>
