<section id="cd-google-map">
  <sebm-google-map [styles]="style" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]=true [zoomControl]=false [streetViewControl]=false [scrollwheel]=false>
    <maps-controller (mapLoaded)="mapLoaded($event)"></maps-controller>
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
      <sebm-google-map-info-window>
        <div class="title">Kuhrefysio</div>
        <ul class="info">
          <li>{{settings.streetname}}</li>
          <li>{{settings.zipcode}} {{settings.city}}</li>
        </ul>
       </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>

  <div id="cd-zoom-in" on-click="zoomIn()"></div>
	<div id="cd-zoom-out" on-click="zoomOut()"></div>
	<address>{{settings.streetname}}, {{settings.zipcode}} {{settings.city}}</address>
</section>
