<main>
  <about-page *ngIf="page.template == 'templates/tpl_employees.php'" [page]="page"></about-page>
  <price-page *ngIf="page.template == 'templates/tpl_prices.php'" [page]="page"></price-page>
  <treatment-page *ngIf="page.template == 'templates/tpl_treatments.php'" [page]="page"></treatment-page>
  <contact-page *ngIf="page.template == 'templates/tpl_contact.php'" [page]="page"></contact-page>
  <content-page *ngIf="page.template == 'templates/tpl_content-page.php'" [page]="page"></content-page>
  <frontpage *ngIf="page.template == 'templates/tpl_frontpage.php'" [page]="page"></frontpage>
  <page-splash *ngIf="!page.template" title="Henter siden ..." content="<p>Vi er igang med at indlæse siden, vi skynder os så meget vi kan!</p>"></page-splash>
  <div class="filler-space"></div>
</main>
