<topbar *ngIf="settings" [settings]="settings"></topbar>
<main-navigation></main-navigation>
<router-outlet></router-outlet>
<footer-maps *ngIf="settings" [settings]="settings"></footer-maps>
<app-footer *ngIf="settings" [settings]="settings"></app-footer>
