<section>
  <div class="container">
    <div class="row">
      <div class="content">
        <h1>{{title}}</h1>

        <a [routerLink]="['/book-nu']" class="btn">
          BOOK ONLINE NU
        </a>

        <p>eller ring <span>{{phone}}</span></p>
      </div>
    </div>
  </div>
</section>
