@import "../main";

section {
  background: #f6f8f7;


  .content {
    width: 100%;
    height: 650px;
    padding-top: 150px;
    background-image: url('/assets/images/frontpage-splash-image.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;

    text-align: center;

    h1 {
      letter-spacing: -1px;
      font-weight: 700;
      font-size: 32px;
    }

    .btn {
      background: $brand-color;
      color: black;
      font-weight: 700;
      padding: 20px 70px;
      border-radius: 40px;
      margin-top: 20px;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      white-space: nowrap;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0);
      transition: box-shadow 0.4s, transform 0.4s;

      &:hover {
        text-decoration: none;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        transform: translateY(-10px);
      }
    }

    p {
      color: #888888;
      font-weight: 300;
      font-style: italic;
      margin-top: 20px;

      span {
        font-weight: 700;
        color: #353535;
      }
    }
  }
}
