<section class="page-splash">
  <div class="container">
    <div class="row">
      <div class="content">
        <h1 [innerHtml]="title">Hello world</h1>
        <div class="text" [innerHtml]="content">
        </div>
      </div>
    </div>
  </div>
</section>
