@import "../main";

:host section.text-section {
  text-align: center;
  padding: 60px 0 30px 0;
  color: $main-text-color;

  h2.title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    max-width: 700px;
    margin: 0 auto;
  }

  .sep {
    width: 100px;
    height: 3px;
    background: $brand-color;
    display: inline-block;
    margin: 20px 0;
  }

  .content {
    max-width: 800px;
    margin: auto;

    &.left {
      text-align: left;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 0;
    }

    ul {
      list-style-type: disc;
      list-style-position: inside;
      li {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
