@import "../main";

section {
  margin-bottom: 30px;

  .price-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .price-card {
      width: calc(33.33333% - 20px);
      padding: 50px 0;
      margin-bottom: 30px;
      box-shadow: 0 2px 20px 0 transparent, 0 2px 19px 0 rgba(0, 0, 0, 0.17);
      text-align: center;

      @media (max-width: $tablet) {
        width: calc(50% - 20px);
      }

      @media (max-width: $mobile) {
        width: 100%;
      }

      h3 {
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin-bottom: 50px;
      }

      ul {
        text-align: left;
        list-style: none;
        padding: 0 30px;
        margin-bottom: 30px;

        li {
          @extend %clearfix;
          font-weight: 300;
          font-size: 14px;
          line-height: 2;

          span {
            float: right;
            font-weight: bold;
          }
        }
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .content {
    text-align: center;
    margin-top: 30px;

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 30px;
    }

    a.btn {
      @extend %btn;
      margin-top: 30px;
    }
  }
}
